/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$primary-color: #673ab7;
$secondary-color: rgb(255, 224, 130);

.background-primary {
  background-color: $primary-color;
}

.foreground-primary {
  color: $primary-color;
}

.background-secondary {
  background-color: $secondary-color;
}

.foreground-secondary {
  color: $secondary-color;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 1px 1px 3px 1px #673ab74f;
}
